---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Catalogue.">
  <main class="container mx-auto">
    <div class="grid gap-8 m-4">
      <h1 class="text-5xl">Catalogue</h1>

      <ul class="grid gap-2">
        <li>Item 01</li>
        <li>Item 02</li>
        <li>Item 03</li>
      </ul>
    </div>
  </main>
</Layout>
