---
import { Catalogue } from "../components/Catalogue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Catalogue.">
  <main class="container mx-auto">
    <Catalogue client:only="preact" />
  </main>
</Layout>
